/* Report */

.main > ul {
	clear:both;
	overflow:hidden;
	width:1068px;
	margin:0 0 0 -1px;
}
.main > ul li {
	float:left;
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
.main > ul li a {
	position:relative;
	display:block;
	width:265px;
	color:#ffffff;
	text-decoration:none;
	background:#00b2b5;
	border-right:1px solid #00a3a6;
	border-left:1px solid #22d9dc;
}
.main > ul li:first-child a {
	border-left-width:0 !important;
}
.main > ul li:last-child {
	margin-right:-10px;
}
.main > ul li:last-child a {
	border-right-width:0 !important;
}
.main > ul li a:hover, .main > ul li.active a {
	width:267px;
	z-index:1;
	color:#007ac2;
	margin:0 -1px;
	background:#ffffff;
	border-right:1px solid #ffffff;
	border-left:1px solid #ffffff;
}
.main > ul li:first-child a:hover, .main > ul li:first-child.active a {
	width:266px;
	margin-left:0;
}
.main > ul li:last-child a:hover, .main > ul li:last-child.active a {
	width:266px;
	margin-right:0;
}
.main > ul li a span {
	display:block;
	padding:18px 0 16px;
}
.main > ul li:nth-child(1) a span {
	padding-left:22px;
	background:#00b2b5 url('../img/main_ul_icon1.png') no-repeat 25px 16px;
}
.main > ul li:nth-child(1) a:hover span, .main > ul li:nth-child(1).active a span {
	background-color:#ffffff;
	background-position:25px -38px;
}
.main > ul li:nth-child(2) a span {
	padding-left:22px;
	background:#00b2b5 url('../img/main_ul_icon2.png') no-repeat 24px 16px;
}
.main > ul li:nth-child(2) a:hover span, .main > ul li:nth-child(2).active a span {
	background-color:#ffffff;
	background-position:25px -38px;
}
.main > ul li:nth-child(3) a span {
	padding-left:6px;
	background:#00b2b5 url('../img/main_ul_icon3.png') no-repeat 22px 14px;
}
.main > ul li:nth-child(3) a:hover span, .main > ul li:nth-child(3).active a span {
	background-color:#ffffff;
	background-position:23px -42px;
}
.main > ul li:nth-child(4) a span {
	padding-left:24px;
	background:#00b2b5 url('../img/main_ul_icon4.png') no-repeat 24px 15px;
}
.main > ul li:nth-child(4) a:hover span, .main > ul li:nth-child(4).active a span {
	background-color:#ffffff;
	background-position:25px -39px;
}
.main > ul li a em {
	position:absolute;
	top:12px;
	min-width:12px;
	display:block;
	color:#ffffff;
	font-size:12px;
	line-height:16px;
	font-weight:normal;
	font-style:normal;
	padding:1px 6px;
	background:#0d8688;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior:url('./pie.htc');
}
.main > ul li:nth-child(3) a em {
	right:23px;
}
.main > ul li:nth-child(3) a:hover em, .main > ul li:nth-child(3).active a em {
	right:24px;
}
.main > ul li:nth-child(4) a em {
	right:11px;
}
.main > ul li a:hover em, .main > ul li.active a em {
	background:#007ac2;
}
.main > div {
	padding:42px 48px 51px 48px;
}
.main h1 {
	color:#232629;
	font-size:24px;
	line-height:28px;
	font-weight:normal;
	padding:0;
	margin:0 0 11px 10px;
}
.main h1 a {
	display:inline-block;
	font-size:14px;
	line-height:18px;
	vertical-align:top;
	padding:0 0 2px 30px;
	margin:5px 0 3px 24px;
	background:url('../img/main_h1_a.png') no-repeat left 1px;
}
.main .intro .lb {
	display:inline-block;
	width:643px;
	vertical-align:top;
	margin:0 16px 0 0;
}
.main .intro .lb .mark {
	position:relative;
	padding:12px 9px 12px;
	margin:0 0 33px;
	background:#ffffff url('../img/main_mark.png') repeat-x bottom;
	border:1px solid #dfdfdf;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior:url('./pie.htc');
}
.main .intro .lb .mark h3 {
	display:inline-block;
	width:157px;
	color:#54ce4e;
	font-size:60px;
	line-height:60px;
	text-align:center;
	vertical-align:top;
	margin:-3px 10px 0 0;
}
.main .intro .lb .mark h3 span {
	display:block;
	color:#54555d;
	font-size:12px;
	line-height:14px;
	font-weight:normal;
	padding-left:8px;
	margin:2px 0 0;
}
.main .intro .lb .mark h3 strong {
	display:block;
	color:#54555d;
	font-size:12px;
	line-height:14px;
	font-weight:normal;
}
.main .intro .lb .mark > div {
	display:inline-block;
	width:430px;
	vertical-align:top;
	padding:11px 0 15px 23px;
	margin:0 -3px 0 0;
	border-left:1px dotted #b0b0b0;
}
.main .intro .lb .mark > div h5 {
	color:#232629;
	font-size:22px;
	line-height:26px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.main .intro .lb .mark > div p {
	font-size:14px;
	line-height:18px;
	padding:3px 0 2px 36px;
	margin:12px 0 0;
	background:url('../img/main_mark_p.png') no-repeat left top;
}
.main .intro .lb .mark > .drop {
	display:none;
	position:absolute;
	left:-1px;
	top:109px;
	z-index:50;
	width:385px;
	vertical-align:top;
	padding:17px 17px 21px 12px;
	margin:0 -3px 0 0;
	background:#ffffff;
	border-left-width:0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.43);
	-moz-box-shadow:0 2px 5px rgba(0,0,0,0.43);
	box-shadow:0 2px 5px rgba(0,0,0,0.43);
	behavior:url('./pie.htc');
}
.main .intro .lb .mark > .drop:before {
	content:'';
	position:absolute;
	left:84px;
	top:-6px;
	width:10px;
	height:6px;
	background:url('../img/main_mark_before.png') no-repeat left top;
}
.main .intro .lb .mark > .drop .close {
	position:absolute;
	right:-9px;
	top:-7px;
	display:block;
	width:21px;
	height:21px;
	cursor:pointer;
	background:url('../img/drop_close.png') no-repeat left top;
}
.main .intro .lb .mark > .drop ul {
	margin:0;
}
.main .intro .lb .mark > .drop ul li {
	position:relative;
	color:#4a4b4d;
	font-size:12px;
	line-height:15px;
	padding:0 0 0 27px;
	margin:13px 0 0;
}
.main .intro .lb .mark > .drop ul li:before {
	content:'';
	position:absolute;
	left:0;
	top:2px;
	width:16px;
	height:16px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	behavior:url('./pie.htc');
}
.main .intro .lb .mark > .drop ul li.red:before {
	background:#ff2727;
}
.main .intro .lb .mark > .drop ul li.red strong {
	color:#ff2727;
}
.main .intro .lb .mark > .drop ul li.yellow:before {
	background:#ffe327;
}
.main .intro .lb .mark > .drop ul li.yellow strong {
	color:#ffe327;
}
.main .intro .lb .mark > .drop ul li.green:before {
	background:#32e629;
}
.main .intro .lb .mark > .drop ul li.green strong {
	color:#32e629;
}
.main .intro .lb .mark > .drop ul li:first-child {
	margin:0;
}
.main .intro .lb .nav {
	overflow:hidden;
	width:643px;
	position:relative;
	margin:0 0 33px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.35);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.35);
	box-shadow:0 1px 1px rgba(0,0,0,0.35);
	behavior:url('./pie.htc');
}
.main .intro .lb .nav li {
	float:left;
	font-size:18px;
	line-height:22px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
.main .intro .lb .nav li a {
	position:relative;
	color:#212225;
	display:block;
	width:213px;
	color:#212225;
	text-decoration:none;
	padding:12px 0 11px;
	background:url('../img/main_nav_a.png') repeat-x top;
	border-right:1px solid #dddddd;
	border-left:1px solid #ffffff;
}
.main .intro .lb .nav li:first-child a {
	border-left-width:0 !important;
}
.main .intro .lb .nav li:last-child {
	margin-right:-10px;
}
.main .intro .lb .nav li:last-child a {
	border-left-width:0 !important;
}
.main .intro .lb .nav li.active a {
	z-index:1;
	width:215px;
	color:#ffffff;
	margin:0 -1px;
	background:#0085d4;
	border-left:1px solid #0085d4;
	border-right:1px solid #0085d4;
	-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.78);
	-moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.78);
	box-shadow:inset 0 0 2px rgba(0,0,0,0.78);
}
.main .intro .rb {
	display:inline-block;
	width:306px;
	vertical-align:top;
	margin:0 -3px 0 0;
}
.main .intro .rb .links {
	position:relative;
	margin:0 0 33px;
}
.main .intro .rb .links > .drop {
	display:none;
	position:absolute;
	left:-1px;
	top:126px;
	z-index:50;
	width:142px;
	vertical-align:top;
	padding:12px 18px 21px;
	margin:0 -3px 0 0;
	background:#ffffff;
	border-left-width:0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.43);
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.43);
	box-shadow:0 0 5px rgba(0,0,0,0.43);
	behavior:url('./pie.htc');
}
.main .intro .rb .links > .drop:before {
	content:'';
	position:absolute;
	left:34px;
	top:-9px;
	width:15px;
	height:9px;
	background:url('../img/main_links_before.png') no-repeat left top;
}
.main .intro .rb .links > .drop .close {
	position:absolute;
	right:-9px;
	top:-7px;
	display:block;
	width:21px;
	height:21px;
	cursor:pointer;
	background:url('../img/drop_close.png') no-repeat left top;
}
.main .intro .rb .links > .drop ol {
	margin:0 0 15px 15px;
}
.main .intro .rb .links > .drop ol li {
	color:#212225;
	font-size:12px;
	line-height:16px;
	padding:0;
	margin:15px 0 0;
}
.main .intro .rb .links > .drop ol li:first-child {
	margin-top:0;
}
.main .intro .rb .links > .drop h5 {
	color:#212225;
	font-size:12px;
	line-height:16px;
	padding:0;
	margin:0;
}
.main .intro .rb .links > .drop h5 a {
	text-decoration:none;
	border-bottom:1px dotted #007ac2;
}
.main .intro .rb .links > .drop h5 a:hover {
	border-bottom:1px dotted transparent;
}
.main .intro .rb .links > ul {
	text-align:center;
	margin:0 0 5px;
}
.main .intro .rb .links > ul li {
	position:relative;
	display:inline-block;
	width:145px;
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	vertical-align:top;
	margin:0 15px 0 0;
}
.main .intro .rb .links > ul li:nth-child(2n) {
	margin-right:-3px;
}
.main .intro .rb .links > ul li a {
	overflow:hidden;
	display:block;
	color:#ffffff;
	text-decoration:none;
	text-shadow:1px 1px 2px rgba(0,0,0,0.75);
	padding:55px 10px 10px;
	background:url('../img/main_links_a.png') repeat-x top;
	border-top:1px solid #c3e9ff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.92);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,0.92);
	box-shadow:0 1px 5px rgba(0,0,0,0.92);
	behavior:url('./pie.htc');
}
.main .intro .rb .links > ul li img {
	position:absolute;
	top:14px;
	left:57px;
}
.main .intro .rb .links > ul li a span {
	overflow:hidden;
	display:block;
	height:26px;
}
.main .intro .rb .links > ul li a:hover {
	background-position:0 -91px;
	-webkit-box-shadow:0 3px 10px rgba(0,0,0,0.99);
	-moz-box-shadow:0 3px 10px rgba(0,0,0,0.99);
	box-shadow:0 3px 10px rgba(0,0,0,0.99);
}
.main .intro .rb .links p {
	font-size:14px;
	line-height:18px;
	text-align:center;
	text-transform:uppercase;
}
.main .intro .rb .links p a {
	text-decoration:none;
	border-bottom:1px dotted #007ac2;
}
.main .intro .rb .links p a:hover {
	border-bottom:1px dotted transparent;
}
.main .intro .rb .buttons {
	text-align:center;
	margin:0 0 31px;
}
.main .intro .rb .buttons li {
	display:inline-block;
	width:76px;
	font-size:12px;
	line-height:12px;
	text-align:center;
	vertical-align:top;
	margin:0 15px 0 0;
}
.main .intro .rb .buttons li:nth-child(3n) {
	margin-right:-3px;
}
.main .intro .rb .buttons li a {
	position:relative;
	display:block;
}
.main .intro .rb .buttons li a span {
	display:none;
	position:absolute;
	left:50%;
	top:45px;
	z-index:10;
	width:65px;
	color:#54555d;
	font-size:12px;
	line-height:14px;
	padding:9px 11px 8px 13px;
	margin-left:-45px;
	background:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.47);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.47);
	box-shadow:0 0 10px rgba(0,0,0,0.47);
	behavior:url('./pie.htc');
}
.main .intro .rb .buttons li a:hover span {
	display:block;
}
.main .intro .rb .buttons li a span:after {
	content:'';
	position:absolute;
	left:50%;
	top:-7px;
	width:12px;
	height:7px;
	margin-left:-6px;
	background:url('../img/main_buttons_arrow.png') no-repeat left top;
}
.main .intro .rb .buttons li a div {
	position:relative;
	width:45px;
	height:45px;
	background:url('../img/main_buttons_div.png') repeat-x top;
	margin:0 auto;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior:url('./pie.htc');
}
.main .intro .rb .buttons li a:hover div {
	background-position:0 -45px;
}
.main .intro .rb .buttons li a div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:45px;
	max-height:45px;
	margin:auto;
}
.main .intro .news {
	position:relative;
	padding:26px 16px 3px;
	margin:0 0 17px;
	background:#f5f5f5;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior:url('./pie.htc');
}
.main .intro .news h3 {
	color:#212225;
	font-size:18px;
	line-height:22px;
	text-transform:uppercase;
	padding:3px 0 1px 39px;
	margin:0 0 33px;
	background:url('../img/main_news_h3.png') no-repeat left top;
}
.main .intro .news > div {
	margin:0 0 30px;
}
.main .intro .news > div > div {
	padding:14px 0 0;
	margin:17px 0 0;
	border-top:1px dotted #b0b0b0;
}
.main .intro .news > div > div:first-child {
	padding-top:0;
	margin-top:0;
	border-top-width:0;
}
.main .intro .news > div > div h6 {
	color:#54555d;
	font-size:12px;
	line-height:17px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.main .intro .news > div > div p {
	color:#222431;
	font-size:14px;
	line-height:17px;
	margin:0;
}
.main .intro .refresh {
	position:relative;
	width:306px;
	color:#0085d4;
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	cursor:pointer;
	padding:15px 0 15px 34px;
	margin:0 0 20px;
	background:#ffffff url('../img/main_refresh.png') repeat-x top;
	border:2px solid #0085d4;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior:url('./pie.htc');
}
.main .intro .refresh:hover {
	background-position:0 -50px;
}
.main .intro .refresh:after {
	content:'';
	position:absolute;
	left:20px;
	top:17px;
	width:24px;
	height:19px;
	background:url('../img/main_refresh_after.png') no-repeat left top;
}
.tabs .general {
	position:relative;
	padding:13px 9px 25px;
	border:1px solid #dfdfdf;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior:url('./pie.htc');
}
.tabs .general > div {
	position:relative;
	padding:0 0 14px 44px;
	margin:0 0 16px;
	border-bottom:1px dotted #b0b0b0;
}
.tabs .general > div > div {
	position:absolute;
	left:5px;
	width:26px;
	height:26px;
}
.tabs .general > div > div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:26px;
	max-height:26px;
	margin:auto;
}
.tabs .general > div:last-child {
	padding-bottom:0;
	margin-bottom:0;
	border-bottom-width:0;
}
.tabs .general > div h3 {
	color:#54555d;
	font-size:18px;
	line-height:22px;
	padding:0;
	margin:0 0 20px;
}
.tabs .general table {
	width:100%;
	margin:0;
}
.tabs .general table th, .tabs .general table td {
	color:#222431;
	font-size:14px;
	line-height:11px;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	padding:0 0 13px;
}
.tabs .general table th {
	width:234px;
	padding-right:18px;
}
.tabs .general table td span {
	position:relative;
	display:inline-block;
	min-width:119px;
	color:#ffffff;
	font-size:12px;
	line-height:11px;
	text-align:center;
	vertical-align:top;
	padding:4px 7px;
	margin:-4px 0 -4px;
	background:#f63939;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	behavior:url('./pie.htc');
}
.tabs .information {
	position:relative;
	z-index:10;
	width:968px;
	margin-right:-325px;
	background:#ffffff;
}
.tabs .information h2 {
	color:#54555d;
	font-size:18px;
	line-height:22px;
	padding:0;
	margin:0 10px 12px;
}
.tabs .information h2 a {
	position:relative;
	text-decoration:none;
	border-bottom:1px dashed #0085d4;
}
.tabs .information h2 a:hover {
	border-bottom:1px dashed transparent;
}
.tabs .information h2 a:after {
	content:'';
	position:absolute;
	right:-13px;
	top:11px;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
	border-top:3px solid #000000;
	border-bottom-width:0;
}
.tabs .information .chief.active h2 a:after {
	border-bottom:3px solid #000000;
	border-top-width:0;
}
.tabs .information .thead {
	clear:both;
	overflow:hidden;
	padding:0 0 0 45px;
	background:url('../img/tabs_information_thead.png') repeat-x top;
}
.tabs .information .thead p {
	float:left;
	color:#232629;
	font-size:12px;
	line-height:16px;
	font-family:'Arial', sans-serif;
	white-space:nowrap;
	padding:16px 20px 16px 0;
	margin:0;
}
.tabs .information .thead .name {
	width:160px;
}
.tabs .information .thead .status {
	width:268px;
}
.tabs .information .thead .limit {
	width:232px;
}
.tabs .information .thead .next {
	width:180px;
}
.tabs .information .tbody > div {
	padding:0 0 0 43px;
	background:#ffffff;
	border:2px solid #ffffff;
}
.tabs .information .tbody > div:nth-child(2n) {
	background:#f6f6f6;
	border:2px solid #f6f6f6;
}
.tabs .information .tbody > div .preview {
	cursor:pointer;
}
.tabs .information .tbody > div .name {
	position:relative;
	display:inline-block;
	width:160px;
	height:53px;
	vertical-align:top;
	padding:0 20px 0 0;
	margin:0 -3px 0 0;
}
.tabs .information .tbody > div .name img {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	max-width:160px;
	max-height:53px;
	margin:auto;
}
.tabs .information .tbody > div .status {
	display:inline-block;
	width:268px;
	color:#ffffff;
	font-size:12px;
	line-height:16px;
	vertical-align:top;
	padding:15px 20px 15px 0;
	margin:0 -3px 0 0;
}
.tabs .information .tbody > div .status span {
	position:relative;
	display:inline-block;
	min-width:143px;
	text-align:center;
	vertical-align:top;
	padding:3px 6px 4px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	behavior:url('./pie.htc');
}
.tabs .information .tbody > div .status span.plus {
	background:#54ce4e;
}
.tabs .information .tbody > div .status span.minus {
	background:#f63939;
}
.tabs .information .tbody > div .limit {
	display:inline-block;
	width:232px;
	color:#54555d;
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	vertical-align:top;
	padding:14px 20px 15px 0;
	margin:0 -3px 0 0;
}
.tabs .information .tbody > div .limit span {
	font-family:'Rouble', sans-serif;
	padding:0 0 0 3px;
}
.tabs .information .tbody > div .next  {
	display:inline-block;
	width:180px;
	font-size:18px;
	line-height:22px;
	vertical-align:top;
	padding:16px 20px 15px 0;
	margin:0 -3px 0 0;
}
.tabs .information .tbody > div.active {
	border:2px solid #e2e2e2;
}	
.tabs .information .tbody > div > .more {
	display:none;
	width:950px;
	padding:13px 7px 4px;
	margin:0 0 0 -43px;
	background:#ffffff;
}
.tabs .information .tbody > div.active .more {
	display:block;
}
.tabs .information .tbody > div > .more .hide {
	position:relative;
	text-align:right;
	font-size:12px;
	line-height:16px;
	padding:0;
	font-weight:normal;
	margin:0 21px 10px 0;
}
.tabs .information .tbody > div > .more .hide:after {
	content:'';
	position:absolute;
	right:-12px;
	top:7px;
	border-right:3px solid transparent;
	border-left:3px solid transparent;
	border-bottom:3px solid #000000;
}
.tabs .information .tbody > div > .more .important {
	clear:both;
	overflow:hidden;
	padding:5px 0 7px 36px;
	margin:0 0 23px;
	border-top:2px solid #e2e2e2;
	border-bottom:2px solid #e2e2e2;
}
.tabs .information .tbody > div > .more .important > div {
	float:left;
	padding:0 20px 0 0;
	margin:0 -3px 0 0;
}
.tabs .information .tbody > div > .more .important > div.number {
	width:160px;
}
.tabs .information .tbody > div > .more .important > div.current {
	width:196px;
}
.tabs .information .tbody > div > .more .important > div.data {
	width:232px;
}
.tabs .information .tbody > div > .more .important > div.latest {
	width:246px;
}
.tabs .information .tbody > div > .more .important > div h5 {
	color:#232629;
	font-size:14px;
	line-height:17px;
	padding:0;
	margin:0;
}
.tabs .information .tbody > div > .more .important > div p {
	color:#54555d;
	font-size:14px;
	line-height:17px;
	margin:0;
}
.tabs .information .tbody > div > .more .important > div p span.plus {
	color:#54ce4e;
}
.tabs .information .tbody > div > .more .important > div p span.minus {
	color:#f63939;
}
.tabs .information .tbody > div > .more .description {
	margin:0 0 20px 11px;
}
.tabs .information .tbody > div > .more .description h5 {
	color:#232629;
	font-size:14px;
	line-height:17px;
	padding:0;
	margin:0 0 21px;
}
.tabs .information .tbody > div > .more .description > div {
	clear:both;
	overflow:hidden;
}
.tabs .information .tbody > div > .more .description > div table {
	width:100%;
	margin:0;
}
.tabs .information .tbody > div > .more .description > div table th, .tabs .information .tbody > div > .more .description > div table td {
	color:#232629;
	font-size:12px;
	line-height:12px;
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	padding:0 0 8px;
}
.tabs .information .tbody > div > .more .description > div table th {
	width:160px;
	padding-right:20px;
}
.tabs .information .tbody > div > .more .description > div .col1 {
	float:left;
	padding:0 20px 0 0;
	width:321px;
}
.tabs .information .tbody > div > .more .description > div .col2 {
	float:left;
	width:249px;
	padding:0 20px 0 18px;
	border-left:1px dotted #c1c1c1;
}
.tabs .information .tbody > div > .more .description > div .col3 {
	float:left;
	width:260px;
	padding:0 0 0 18px;
	border-left:1px dotted #c1c1c1;
}
.tabs .information .tbody > div > .more .description > div .col3 table th {
	width:196px;
	padding-right:20px;
}
.tabs .information .tbody > div > .more .history {
	margin:0 0 10px 11px;
}
.tabs .information .tbody > div > .more .history h5 {
	color:#232629;
	font-size:14px;
	line-height:17px;
	padding:0;
	margin:0 0 8px;
}
.tabs .information .tbody > div > .more .history table {
	margin:0 0 8px;
}
.tabs .information .tbody > div > .more .history table thead td {
	width:73px;
	color:#232629;
	font-size:14px;
	line-height:18px;
	text-align:center;
	text-transform:uppercase;
	border-right:1px solid #ffffff;
}
.tabs .information .tbody > div > .more .history table tbody th {
	width:39px;
	color:#232629;
	font-size:14px;
	line-height:18px;
	text-align:left;
	padding:5px 0 7px;
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}
.tabs .information .tbody > div > .more .history table tbody td div {
	position:relative;
	width:73px;
	height:32px;
}
.tabs .information .tbody > div > .more .history table tbody td span {
	position:absolute;
	left:50%;
	bottom:17px;
	z-index:10;
	width:75px;
	color:#54555d;
	font-size:12px;
	line-height:14px;
	padding:9px 11px 8px 13px;
	margin-left:-50px;
	background:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.47);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.47);
	box-shadow:0 0 10px rgba(0,0,0,0.47);
	behavior:url('./pie.htc');
}
.tabs .information .tbody > div > .more .history table tbody td span:after {
	content:'';
	position:absolute;
	left:50%;
	bottom:-7px;
	width:12px;
	height:7px;
	margin-left:-6px;
	background:url('../img/tabs_information_history_arrow.png') no-repeat left top;
}
.tabs .information .tbody > div > .more .history table tbody td {
	width:73px;
	height:32px;
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}
.tabs .information .tbody > div > .more .history table tbody td.minus {
	cursor:pointer;
	background:#f63939;
}
.tabs .information .tbody > div > .more .history table tbody td.plus {
	cursor:pointer;
	background:#54ce4e;
}
.tabs .information .tbody > div > .more .history table tbody td.neutral {
	cursor:pointer;
	background:#fdf138;
}
.tabs .information .tbody > div > .more .history h6 {
	color:#232629;
	font-size:12px;
	line-height:12px;
	font-weight:normal;
	padding:0;
	margin:0 0 10px 52px;
}
.tabs .information .chief > div {
	display:none;
}
.tabs .information .chief.active > div {
	display:block;
}
.tabs .information .additional {
	margin:34px 10px -10px;
}
.tabs .information .additional > div {
	display:none;
}
.tabs .information .additional.active > div {
	display:block;
}
.tabs .information .additional.active > div p {
	color:#54555d;
	font-size:14px;
	line-height:17px;
	margin:0 0 17px;
}
.tabs .information .additional h4 {
	font-size:18px;
	line-height:22px;
	padding:0;
	margin:0 0 17px;
}
.tabs .information .additional h4 a {
	position:relative;
	text-decoration:none;
	border-bottom:1px dashed #0085d4;
}
.tabs .information .additional h4 a:hover {
	border-bottom:1px dashed transparent;
}
.tabs .information .additional h4 a:after {
	content:'';
	position:absolute;
	right:-13px;
	top:11px;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
	border-top:3px solid #000000;
	border-bottom-width:0;
}
.tabs .information .additional.active h4 a:after {
	border-bottom:3px solid #000000;
	border-top-width:0;
}